@{
    ViewBag.Title = "Staff Management";
}

<div class="box">
    <div class="box-body">
        <form>
            <div class="input-group input-group-sm">
                <input name="search" type="text" class="form-control" placeholder="Search..." autofocus>
                <span class="input-group-btn">
                    <button type="button" class="btn btn-info btn-flat">
                        <i class="glyphicon glyphicon-search"></i>
                        Search
                    </button>
                    <a href="~/staff/create" class="btn btn-primary">
                        <i class="glyphicon glyphicon-plus"></i>
                        Create
                    </a>
                </span>

            </div>
        </form>
        <div class="row" style="margin-top: 12px">
            @for (var i = 0; i < 6; i++)
            {
                <div class="col-sm-6">
                    <div class="box box-primary" style="padding: 10px; position: relative;">
                        <div class="row">
                            <div class="col-sm-4">
                                <img src="https://skillking.fpt.edu.vn/wp-content/uploads/2022/11/vi-tri-staff-la-gi.jpg" alt="staff" style="width: 100%; height: 120px; object-fit: cover">
                            </div>
                            <div class="col-sm-6">
                                <div class="">
                                    <i class="glyphicon glyphicon-user"></i>
                                    John Doe
                                </div>
                                <div>
                                    <i class="glyphicon glyphicon-envelope"></i>
                                    johnDoe@gmail.com
                                </div>
                                <div>
                                    <i class="glyphicon glyphicon-calendar"></i>
                                    01/01/2000
                                </div>
                            </div>
                        </div>
                        <p style="margin-top: 12px; font-style: italic">
                            <span style="font-size: 1.5rem">&#8220;</span>
                            LoColumns create gutters (gaps between column content) via padding. That padding is offset in rows for the first and last column via negative margin on
                            <span style="font-size: 1.5rem">&#8221;</span>
                        </p>
                    </div>
                    <div style="position: absolute; top: 8px; right: 16px ">
                        <a href="~/staff/edit" class="text-info" title="Edit">
                            <i class="glyphicon glyphicon-edit"></i>
                        </a>
                        <a href="~/staff/delete" class="text-danger" title="Remove" style="margin-left: 6px">
                            <i class="glyphicon glyphicon-remove"></i>
                        </a>
                    </div>
                </div>
            }
        </div>
        <div class="row">
            <div class="col-sm-5">
                <div class="dataTables_info" id="example2_info" role="status" aria-live="polite">Showing 1 to 6 of 57 entries</div>
            </div>
            <div class="col-sm-7">
                <div class="dataTables_paginate paging_simple_numbers" style="margin: 0;text-align: center">
                    <ul class="pagination">
                        <li class="paginate_button previous disabled" id="example2_previous">
                            <a href="#" aria-controls="example2" data-dt-idx="0" tabindex="0">Previous</a>
                        </li>
                        <li class="paginate_button active">
                            <a href="#" aria-controls="example2" data-dt-idx="1" tabindex="0">1</a>
                        </li>
                        <li class="paginate_button ">
                            <a href="#" aria-controls="example2" data-dt-idx="2" tabindex="0">2</a>
                        </li>
                        <li class="paginate_button ">
                            <a href="#" aria-controls="example2" data-dt-idx="3" tabindex="0">3</a>
                        </li>
                        <li class="paginate_button ">
                            <a href="#" aria-controls="example2" data-dt-idx="4" tabindex="0">4</a>
                        </li>
                        <li class="paginate_button ">
                            <a href="#" aria-controls="example2" data-dt-idx="5" tabindex="0">5</a>
                        </li>
                        <li class="paginate_button ">
                            <a href="#" aria-controls="example2" data-dt-idx="6" tabindex="0">6</a>
                        </li>
                        <li class="paginate_button next" id="example2_next">
                            <a href="#" aria-controls="example2" data-dt-idx="7" tabindex="0">Next</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>