@model dynamic

@{
}


<div class="box box-primary">
    <div class="box-body">
        <form class="form-horizontal">
            <div class="form-group">
                <label class="control-label col-sm-2" for="customerName">Customer Name:</label>
                <div class="col-sm-10">
                    <input type="text" name="customerName" class="form-control" id="customerName" placeholder="Enter Customer Name" autofocus>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="contactName">Contact Name:</label>
                <div class="col-sm-10">
                    <input type="text" name="contactName" class="form-control" id="contactName" placeholder="Enter Contact Name">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="Address">Address:</label>
                <div class="col-sm-10">
                    <input type="text" name="address" class="form-control" id="Address" placeholder="Enter Address">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="email">Email:</label>
                <div class="col-sm-10">
                    <input type="email" name="email" class="form-control" id="email" placeholder="Enter Email">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="country">Country:</label>
                <div class="col-sm-10">
                    <select name="country" id="country" class="form-control">
                        <option value=""> -- Choose Country -- </option>
                        <option value="">Việt Nam</option>
                        <option value="">Rusia</option>
                        <option value="">USA</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="city">City:</label>
                <div class="col-sm-10">
                    <select name="city" id="city" class="form-control">
                        <option value=""> -- Choose City -- </option>
                        <option value="">City 1</option>
                        <option value="">City 2</option>
                        <option value="">City 3</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="postalCode">Postal Code:</label>
                <div class="col-sm-10">
                    <input type="text" name="postalCode" class="form-control" id="postalCode" placeholder="Enter Postal Code">
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-primary">
                        <i class="glyphicon glyphicon-floppy-disk"></i>
                        Save
                    </button>

                    <a href="~/customer" class="btn btn-warning">
                        <i class="glyphicon glyphicon-log-out"></i>
                        Cancel
                    </a>
                </div>
            </div>
        </form>
    </div>
</div>