
@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

@model dynamic

@{
    ViewBag.Title = "Delete Category";
}


<div class="box box-danger">
    <div class="box-title">
        <h3 style="padding-left: 24px">Are you sure you want to remove this category?</h3>
    </div>
    <div class="box-body">
        <form class="form-horizontal">
            <div class="form-group">
                <label class="control-label col-sm-2">Category Name:</label>
                <p class="form-control-static col-sm-10">
                    Seafood
                </p>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2">
                    Description:
                </label>
                <p class="form-control-static col-sm-10">
                    Fish, Shrimp, Crab, etc.
                </p>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-danger">
                        <i class="glyphicon glyphicon-trash"></i>
                        Remove
                    </button>

                    <a href="~/category" class="btn btn-warning">
                        <i class="glyphicon glyphicon-log-out"></i>
                        Cancel
                    </a>
                </div>
            </div>
        </form>
    </div>
</div>